<% if @message %>
  <div class="alert alert-danger" role="alert">
    <%= @message %>
  </div>
<% else %>
  <p>Cart ID <%= @cart.session %></p>
  <div id="form_add_product" >
    <%= render 'add_product' %>
  </div>
  <br />
  <div id="grid_products" >
    <%= render partial: 'list_products', locals: {products: @cart.cart_products} %>
  </div>  
<% end %>